body{
	margin: 0px; background-size: cover;  height: 100vh; }


.left{float: left;  
    display:inline-block ;  }

.logo{ width: 140px; top: 4%; left: 10%;}
.welcome{text-align: center;}


.join{ text-align: center; padding-top: 200px;}





nav{   float: right; background-color: chartreuse;
    height: 50px;
    padding: 0px;
width: 70%;}



ul{	
	    display: flex; font-size: large;
    justify-content: space-evenly;
    padding: 0px;
}
a.over,a:hover{
	background: whitesmoke;
	transition: .5s;
}
