body {
margin: 0; height: 170vh;
}


nav{   float: right; background-color: chartreuse;
    height: 50px;
    padding: 0px;
width: 70%;}



ul{ 
        display: flex; font-size: large;
    justify-content: space-evenly;
    padding: 0px;
}
a.over,a:hover{
    background: whitesmoke;
    transition: .5s;}
.header{
margin-top: -28px;  width: 100%;
height: 100px; background-color: chartreuse;
}
h1{padding-top: 20px;}

#report{
        border: solid;
    margin: 60px;
    height: 200vh;
}
footer{
        BORDER: SOLID;
    MARGIN: 50PX;
    HEIGHT: 10VH;
    TEXT-ALIGN: CENTER;
}
}